.container-work-with-us{
    position: relative;
}
.box-image-work-with-us{
    margin-bottom: -8px;
}
.box-form-work-with-us{
    position: absolute;
    right: 20px;
}
.box-center-form-work-with-us{
    height: 440px;
    background: #eaedf2;
    border-radius: 10px;
    padding: 30px;
}
.box-form-work-with-us .form-group {
    margin-bottom: 18px;
}
.box-form-work-with-us .box-checkbox{
    top: 32px;
    left: 0;
    right: 15px;
    z-index: 1;
}
.box-form-work-with-us .control-label.label-required{
    margin-top: 22px;
    text-align: left;
}
.container-work-with-us hr{
    margin-top: 0;
}
@media screen and (max-width: 1320px) {
    .box-form-work-with-us{
        top: 15px;
    }
}
@media screen and (max-width: 991px){
    .box-image-work-with-us{
        display: none;
    }
    .box-form-work-with-us{
        padding: 0 15px;
        right: auto;
        margin:15px 0;
        position: relative;
        background: url(../images/img-work-with-us.png) bottom -8px left no-repeat;
    }
    .box-form-work-with-us .control-label.label-required{
        margin-top: 10px;
    }

}
@media screen and (max-width: 767px){
    .box-form-work-with-us{
        background: none;
        margin: 35px 0; 
    }
    .box-center-form-work-with-us {
        height: auto;
    }
    .box-form-work-with-us .control-label.label-required {
        margin-top: 28px;
    }
    .container-work-with-us hr{
        margin-top: 50px;
    }
}
@media screen and (max-width: 450px){
    .box-center-form-work-with-us{
        padding: 15px;
    }
}
@media screen and (max-width: 410px){
    .box-center-form-work-with-us {
        padding-bottom: 0;
    }
    .box-form-work-with-us .control-label.label-required{
        padding: 0 15px;
        width: 100%;
        display: block;
        float: none;
        text-align: right;
        margin: 0;
    }
    #form-work-with-us .buttom-form{
        width: 100%;
    }
}