.container_circle_solucitions h2{
    margin-bottom: 50px;
}
.box-flower-solutions{
    width: 425px;
    height: 425px;
    position: relative;
    float: left;
    -webkit-transition:	all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;

}
.petal-solutions{
    position: absolute;
    width: 150px;
    height: 162px;
    border-radius: 50% 60% 0 60%  ;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;
    overflow: hidden;

    -webkit-transform-origin: 172px  172px  ;
    -moz-transform-origin: 172px  172px  ;
    -o-transform-origin: 172px  172px  ;
    transform-origin: 172px  172px  ;

    -webkit-transition:	all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

    opacity: 0;
}
.petal-solutions.petal-identity{ background: #d50a52;}
.petal-solutions.petal-bpm{ background: #d94d14;}
.petal-solutions.petal-ecm{ background: #eb6607;}
.petal-solutions.petal-analytics{ background: #f7a600;}
.petal-solutions.petal-mall{ background: #ffcc00;}
.petal-solutions.petal-social{ background: #dedc00;}
.petal-solutions.petal-wcm{ background: #aec90a;}
.petal-solutions.petal-mobile{ background: #f0e403;}
.petal-solutions.petal-lms{ background: #ffeb6b;}
.petal-solutions.petal-esb{ background: #575656;}

.under{
    position: absolute;
    z-index: 11;
    border-radius: 50% 60% 0 60%;
    box-shadow: inset 68px -35px 0 0 #D50A52;

    width: 150px;
    height: 162px;
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg);
}

.petal-solutions p{
    position: absolute;
    top: 30px;
    right: 67px;

    top: 170px;
    right: 0;
    opacity: 0;

    width: 61%;
    text-align: center;
    font-size: 17.5px;
    -webkit-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);
}
.petal-solutions.petal-esb p,
.petal-solutions.p-identity p,
.petal-solutions.petal-bpm p,
.petal-solutions.petal-ecm p,
.petal-solutions.petal-analytics p{
    color: #fff;
}
.petal-solutions img{
    position: absolute;
    top: 47px;
    left: 30px;

    top: 136px;
    left: 122px;
    opacity:0;

    text-align: center;

    -webkit-transform: rotate(134deg);
    -moz-transform: rotate(134deg);
    -o-transform: rotate(134deg);
    transform: rotate(134deg);
}
.petal-solutions.transform p,
.petal-solutions.transform img{
    -webkit-transform: rotate(314deg);
    -moz-transform: rotate(314deg);
    -o-transform: rotate(314deg);
    transform: rotate(314deg);
}

.petal-solutions:nth-child(2) {
    -webkit-transform: rotate(46deg);
    -moz-transform: rotate(46deg);
    -o-transform: rotate(46deg);
    transform: rotate(46deg);
    z-index: 1
}
.petal-solutions:nth-child(3) {
    -webkit-transform: rotate(82deg);
    -moz-transform: rotate(82deg);
    -o-transform: rotate(82deg);
    transform: rotate(82deg);
    z-index: 2
}
.petal-solutions:nth-child(4) {
    -webkit-transform: rotate(118deg);
    -moz-transform: rotate(118deg);
    -o-transform: rotate(118deg);
    transform: rotate(118deg);
    z-index: 3
}
.petal-solutions:nth-child(5) {
    -webkit-transform: rotate(154deg);
    -moz-transform: rotate(154deg);
    -o-transform: rotate(154deg);
    transform: rotate(154deg);
    z-index: 4
}
.petal-solutions:nth-child(6) {
    -webkit-transform: rotate(190deg);
    -moz-transform: rotate(190deg);
    -o-transform: rotate(190deg);
    transform: rotate(190deg);
    z-index: 5
}
.petal-solutions:nth-child(7) {
    -webkit-transform: rotate(226deg);
    -moz-transform: rotate(226deg);
    -o-transform: rotate(226deg);
    transform: rotate(226deg);
    z-index: 6
}
.petal-solutions:nth-child(8) {
    -webkit-transform: rotate(262deg);
    -moz-transform: rotate(262deg);
    -o-transform: rotate(262deg);
    transform: rotate(262deg);
    z-index: 7
}
.petal-solutions:nth-child(9) {
    -webkit-transform: rotate(298deg);
    -moz-transform: rotate(298deg);
    -o-transform: rotate(298deg);
    transform: rotate(298deg);
    z-index: 8
}
.petal-solutions:nth-child(10) {
    -webkit-transform: rotate(334deg);
    -moz-transform: rotate(334deg);
    -o-transform: rotate(334deg);
    transform: rotate(334deg);
    z-index: 9
}
.petal-solutions:nth-child(11) {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
    z-index: 10;
}
.petal-solutions:nth-child(2):hover {
    -webkit-transform: rotate(46deg) scale(1.05);
    -moz-transform: rotate(46deg) scale(1.05);
    -o-transform: rotate(46deg) scale(1.05);
    transform: rotate(46deg) scale(1.05);
}
.petal-solutions:nth-child(3):hover {
    -webkit-transform: rotate(82deg) scale(1.05);
    -moz-transform: rotate(82deg) scale(1.05);
    -o-transform: rotate(82deg) scale(1.05);
    transform: rotate(82deg) scale(1.05);
}
.petal-solutions:nth-child(4):hover {
    -webkit-transform: rotate(118deg) scale(1.05);
    -moz-transform: rotate(118deg) scale(1.05);
    -o-transform: rotate(118deg) scale(1.05);
    transform: rotate(118deg) scale(1.05);
}
.petal-solutions:nth-child(5):hover {
    -webkit-transform: rotate(154deg) scale(1.05);
    -moz-transform: rotate(154deg) scale(1.05);
    -o-transform: rotate(154deg) scale(1.05);
    transform: rotate(154deg) scale(1.05);
}
.petal-solutions:nth-child(6):hover {
    -webkit-transform: rotate(190deg) scale(1.05);
    -moz-transform: rotate(190deg) scale(1.05);
    -o-transform: rotate(190deg) scale(1.05);
    transform: rotate(190deg) scale(1.05);
}
.petal-solutions:nth-child(7):hover {
    -webkit-transform: rotate(226deg) scale(1.05);
    -moz-transform: rotate(226deg) scale(1.05);
    -o-transform: rotate(226deg) scale(1.05);
    transform: rotate(226deg) scale(1.05);
}
.petal-solutions:nth-child(8):hover {
    -webkit-transform: rotate(262deg) scale(1.05);
    -moz-transform: rotate(262deg) scale(1.05);
    -o-transform: rotate(262deg) scale(1.05);
    transform: rotate(262deg) scale(1.05);
}
.petal-solutions:nth-child(9):hover {
    -webkit-transform: rotate(298deg) scale(1.05);
    -moz-transform: rotate(298deg) scale(1.05);
    -o-transform: rotate(298deg) scale(1.05);
    transform: rotate(298deg) scale(1.05);
}
.petal-solutions:nth-child(10):hover {
    -webkit-transform: rotate(334deg) scale(1.05);
    -moz-transform: rotate(334deg) scale(1.05);
    -o-transform: rotate(334deg) scale(1.05);
    transform: rotate(334deg) scale(1.05);
}
.petal-solutions:nth-child(11):hover {
    -webkit-transform: rotate(10deg) scale(1.05);
    -moz-transform: rotate(10deg) scale(1.05);
    -o-transform: rotate(10deg) scale(1.05);
    transform: rotate(10deg) scale(1.05);
}
.flower-center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -57.5px;
    margin-top: -57.5px;
    border-radius: 50%;
    z-index: 20;
    height: 115px;
    width: 115px;
    background: #fff;
}

.box_desc_solution{
    float: right;
    width: 60%;
    width: -webkit-calc(100% - 435px);
    width: -moz-calc(100% - 435px);
    width: calc(100% - 435px);

    border: solid 1px #d8d8d8;
    border-radius: 10px;
    padding: 15px 30px 30px 50px;
    margin-top: 25px;
    position: relative;
    background: #fff;
}
.box_desc_solution:before, .box_desc_solution:after {
    content: '';
    position: absolute;
    top: 130px;
    left: -30px;
    width: 0;
    height: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease-out 0.3s;

}
.box_desc_solution:after{
    border-right: 30px solid #fff;
    border-bottom: 29px solid transparent;
    border-top: 29px solid transparent;
    z-index: 10;
    margin-top: 1px;
    margin-left: 1px;
}
.box_desc_solution:before{
    border-right: 30px solid #d8d8d8;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    z-index: 9;
}
.box_desc_solution h4{
    height: 70px;
}
.box_desc_solution p{
    height: 150px;
}
.img-solution{    
    height: 200px;
    border-radius: 10px;
    background: #696a6c;
    margin-bottom: 25px;
}
.solution-indicators {
    position: absolute;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;

    bottom: -5px;
    left: auto;
    right: 25px;
    width: auto;
    margin-left: auto;
}
.solution-indicators li, .solution-indicators li.active {
    width: 16px;
    height: 16px;
    margin: 0 5px;
    background: #abaaaa;
    border: none;
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    border-radius: 10px;

    -webkit-transition:	all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.solution-indicators li.indicator-identity.active, .solution-indicators li.indicator-identity:hover { background: #d50a52;}
.solution-indicators li.indicator-bpm.active , .solution-indicators li.indicator-bpm:hover { background: #d94d14;}
.solution-indicators li.indicator-ecm.active , .solution-indicators li.indicator-ecm:hover { background: #eb6607;}
.solution-indicators li.indicator-analytics.active , .solution-indicators li.indicator-analytics:hover { background: #f7a600;}
.solution-indicators li.indicator-mall.active , .solution-indicators li.indicator-mall:hover { background: #ffcc00;}
.solution-indicators li.indicator-social.active , .solution-indicators li.indicator-social:hover { background: #dedc00;}
.solution-indicators li.indicator-wcm.active , .solution-indicators li.indicator-wcm:hover { background: #aec90a;}
.solution-indicators li.indicator-mobile.active , .solution-indicators li.indicator-mobile:hover { background: #f0e403;}
.solution-indicators li.indicator-lms.active , .solution-indicators li.indicator-lms:hover { background: #ffeb6b;}
.solution-indicators li.indicator-esb.active , .solution-indicators li.indicator-esb:hover { background: #575656;}

/* RESPONSIVE */
@media screen and (max-width: 1150px) {
    .box_desc_solution{
        width: 50%;
        width: -webkit-calc(100% - 435px);
        width: -moz-calc(100% - 435px);
        width: calc(100% - 435px);
    }
}
@media screen and (max-width: 1100px) {
    .box_desc_solution {
        padding: 15px 30px;
    }
}
@media screen and (max-width: 991px) {
    .box_desc_solution{
        width: 38%;
        width: -webkit-calc(100% - 435px);
        width: -moz-calc(100% - 435px);
        width: calc(100% - 435px);
    }
    .box_circle_solucitions{
        padding-bottom: 50px;
    }
    .box_desc_solution h4 {
        height: inherit;
        margin-bottom: 15px;
    }
    .box_desc_solution p {
        height: inherit;
        margin-bottom: 20px;
    }
    .img-solution {
        margin-top: 25px;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 830px) {
    .solution-indicators {
        width: 100%;
        right: 0;
    }
    .box_desc_solution {
        padding: 10px 20px;
    }
    .box_desc_solution p {
        margin-bottom: 15px;
    }
    .img-solution {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 730px) {
    .box-flower-solutions {
        float: none;
        margin: auto;
    }
    .box_desc_solution{
        width: 100%;
        margin-top: 15px;
    }
    .box_desc_solution:before, .box_desc_solution:after {
        top: -50px;
        left: 50%;
    }
    .box_desc_solution:before {
        border-left: 20px solid transparent;
        border-bottom: 20px solid #d8d8d8;
        border-right: 20px solid transparent;
        margin-left: -20px;
    }
    .box_desc_solution:after {
        border-left: 19px solid transparent;
        border-bottom: 20px solid #fff;
        border-right: 19px solid transparent;
        margin-left: -19px;
        margin-top: 1.5px;
    }
}
@media screen and (max-width: 991px) {
    .container_circle_solucitions h2 {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 485px) {
    .box_circle_solucitions{
        position: relative;
        padding-top: 310px;
    }
    .box-flower-solutions{
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        -o-transform: scale(.7);
        transform: scale(.7);

        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -212px;
        margin-top: -60px;
    }

}
@media screen and (max-width: 450px) {
    .container_circle_solucitions h2 {
        margin-bottom: 45px;
    }
}
@media screen and (max-width: 350px) {
    .solution-indicators li, .solution-indicators li.active {        
        margin: 0 2px;
    }
    .box-flower-solutions{
        -webkit-transform: scale(.6);
        -moz-transform: scale(.6);
        -o-transform: scale(.6);
        transform: scale(.6);
        margin-left: -212px;
    }

}

/* END RESPONSIVE */